@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Orange: #ff7d1a;
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: #b6bcc8;
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%, 0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  background-color: #ffff;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
}
